@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in weather site</h1>
    <p><a href="https://openweathermap.org/ ">Visit free weatherApikey!</a></p>
</div>
